%section#search
  %h1.hide 検索エリア
  .grid
    .col_12
      %form(method="post" action="/search")
        %input(type="text" name="keyword" placeholder="本のタイトル、著者名、出版社名など" value="#{@keyword}")
        %input(type="submit" value="検索" class="button orange large")

%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") ホーム
    %li
      %a(href="#") 検索結果
    %li
      %a(href="#") 本の詳細
    %li#last_bread_3
      %a(href="#") Book: #{@title}

%section#detail.grid
  %h1.hide BOOK DETAIL
  .col_4
    %div
      %img(src="#{@mediumImageUrl}")
      %p
        %label タイトル：
        %span #{@title}
      %p
        %label 著 者 名：
        %span #{@author}
      %p
        %label 出 版 社：
        %span #{@publisherName}
      %p
        %label 発 売 日：
        %span #{@salesDate}
    -if @stock.nil?
      %div.left.notice.error
        %i.icon-remove-sign.icon-large
        在庫なし
    -else
      %div.left.notice.success
        %i.icon-ok-sign.icon-large
        棚番号：
        %span #{@stock}
  .col_8
    %img(src="../img/map.gif")
