%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") #{t 'breadcrumb.home'}
    %li
      %a(href="#") #{t 'breadcrumb.result'}
    %li
      %a(href="#") #{t 'breadcrumb.detail'}
    %li#last_bread_3
      %a(href="#") 　

%section#loader

%section#detail.grid
  %h1.hide BOOK DETAIL
  .col_4
    %div
      %div#img
      %p#title
        %label #{t 'detail.title'}：
        %span
      %p#authors
        %label #{t 'detail.author'}：
        %span
      %p#publisher
        %label #{t 'detail.publisher'}：
        %span
    #stock.left.notice.warning
      %i.icon-spinner.icon-large
      %span #{t 'result.searching_stocks'}
      %span
  .col_8
    %img(src="../img/map.gif")
