%section#search
  %h1.hide 検索エリア
  .grid
    .col_12
      %form(method="post" action="/search")
        %input(type="text" name="keyword" placeholder="本のタイトル、著者名、出版社名など" value="#{@keyword}")
        %input(type="submit" value="検索する" class="button orange large")

%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") ホーム
    %li
      %a(href="#") 検索結果
    %li
      %a(href="#") 本の詳細
    %li
      %a(href="#") 選択した本：#{@result['Items'][0]['title']}

%section#detail.grid
  %h1.hide BOOK DETAIL
  - res = @result['Items'][0]
  .col_4
    %div
      %img(src="#{res['Item']['mediumImageUrl']}")
      %p
        %label.col_3 タイトル：
        %span #{res["Item"]["title"]}
      %p
        %label.col_3 著者名：
        %span #{res["Item"]["author"]}
      %p
        %label.col_3 出版社：
        %span #{res["Item"]["publisherName"]}
      %p
        %label.col_3 発売日：
        %span #{res["Item"]["salesDate"]}
    %div.left.notice.success
      %i.icon-ok-sign.icon-large
      棚番号：
      - @page.each do |p|
        %span #{p}
  .col_8
    %img(src="../img/map.gif")
