%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") #{t 'breadcrumb.home'}
    %li
      %a(href="#") #{t 'breadcrumb.result'}
    %li#last_bread_2
      %a(href="#") 　

%section#loader

%section#result.grid
  %h1.hide SEARCH RESULT
  - @result['Items'].each do |res|
    - res = res['Item']
    - isbn = res['isbn']
    .col_2
      %div
        %div
          - if res['mediumImageUrl'].nil?
            %div.no_img No Image..
          - else
            - img_link = res['largeImageUrl']
            %img(src="#{img_link}")
        %p
          %strong #{res["title"]}
          %br
          - author = res['author'] || t('result.no_author')
          (#{author})

      %div.left.notice.warning
        %i.icon-spinner.icon-large
        %span #{t 'result.searching_stocks'}

      %div.book_data.hide
        %ul
          %li.title #{res['title']}
          %li.authors #{res['author']}
          %li.img_link #{img_link}
          %li.publisher #{res['publisherName']}
          %li.isbn #{isbn}
          %li.stock

      %div
        - if isbn
          %a(href="/detail/#{isbn}" class="button pjax")
            %i(class="icon-zoom-in icon-large")
            = t 'result.see_detail'
        - else
          %a(href="#" class="button disabled")
            %i(class="icon-zoom-in icon-large")
            = t 'result.no_detail'
