%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") ホーム
    %li
      %a(href="#") 検索結果
    %li#last_bread_2
      %a(href="#") [Keyword] #{@keyword}

%section#loader

%section#result.grid
  %h1.hide SEARCH RESULT
  - @result['items'].each do |res|
    - res = res['volumeInfo']
    .col_2
      %div
        %div
          - unless res['imageLinks'].nil?
            - img_link = res['imageLinks']['thumbnail']
            %img(src="#{img_link}")
        %p
          %strong #{res["title"]}
          %br
          (#{res["authors"].to_a.join(',') || "著者名なし"})

      %div.left.notice.warning
        %i.icon-spinner.icon-large
        %span 在庫検索中..

      %div.book_data.hide
        %ul
          %li.title #{res['title']}
          %li.authors #{res['authors']}
          %li.img_link #{img_link}
          %li.publisher #{res['publisher']}
          %li.isbn #{res['industryIdentifiers'][0]['identifier']}
          %li.stock

      %div
        %a(href="/detail/#{res['industryIdentifiers'][0]['identifier']}" class="button pjax")
          %i(class="icon-zoom-in icon-large")
          詳細を見る

-# %script(src="js/stock_search.js")
