%section#search
  %h1.hide 検索エリア
  .grid
    .col_12
      %form(method="post" action="/search")
        %input(type="text" name="keyword" placeholder="本のタイトル、著者名、出版社名など" value="#{@keyword}")
        %input(type="submit" value="検索する" class="button orange large")

%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") ホーム
    %li
      %a(href="#") 検索結果
    -# %li
    -#   %a(href="#") 本の詳細
    %li#last_bread_2
      %a(href="#") 検索ワード：#{@keyword}

%section#result.grid
  %h1.hide SEARCH RESULT
  - @result['Items'].each do |res|
    .col_2
      %div
        %a(href="result/#{res['Item']['isbn']}")
          %img(src="#{res['Item']['mediumImageUrl']}")
          %p.left #{res["Item"]["title"]} / #{res["Item"]["author"]}
      -# %div
      -#   %a(href="result/#{res['Item']['isbn']}" class="button large green") 詳細を見る
      %div.left.notice.warning
        %i.icon-spinner.icon-large
        在庫検索中..

