%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") ホーム
    %li
      %a(href="#") 検索結果
    %li#last_bread_2
      %a(href="#") 　

%section#loader

%section#result.grid
  %h1.hide SEARCH RESULT
  - @result['Items'].each do |res|
    - res = res['Item']
    - isbn = res['isbn']
    .col_2
      %div
        %div
          - if res['mediumImageUrl'].nil?
            %div.no_img No Image..
          - else
            - img_link = res['mediumImageUrl']
            %img(src="#{img_link}")
        %p
          %strong #{res["title"]}
          %br
          (#{res["author"] || "著者名なし"})

      %div.left.notice.warning
        %i.icon-spinner.icon-large
        %span 在庫検索中..

      %div.book_data.hide
        %ul
          %li.title #{res['title']}
          %li.authors #{res['author']}
          %li.img_link #{img_link}
          %li.publisher #{res['publisherName']}
          %li.isbn #{isbn}
          %li.stock

      %div
        - if isbn
          %a(href="/detail/#{isbn}" class="button pjax")
            %i(class="icon-zoom-in icon-large")
            詳細を見る
        - else
          %a(href="#" class="button disabled")
            %i(class="icon-zoom-in icon-large")
            詳細情報なし
